categorical -------> numerical value  this is data encoding

Nominal Features & One Hot Encoding — Notes
1. Nominal Feature (Categorical Feature)

Nominal feature wo hota hai jisme distinct categories hote hain (no order).
Example: color = {red, green, blue}

2. One Hot Encoding (OHE)

Categorical values ko numerical binary features me convert karta hai.

Har category ke liye ek naya feature/column ban jata hai.

Example:

Feature: color = red, green, blue

One Hot Encoding banayega:

red	green	blue
1	0	0
0	1	0

Agar color = red, to red = 1, aur baaki sab = 0.

3. One Hot Encoding — Disadvantages
❌ High Dimensionality

Agar feature me 100 categories hain → OHE 100 new columns banayega.

Data ka size aur dimensionality bahut badh jati hai.

❌ Sparse Matrix Problem

Zyada tar values 0 hoti hain → matrix sparse ban jaati hai.

Memory aur computation cost badh jaata hai.

❌ Overfitting ka Risk

Model training data ko unnecessary detail tak fit kar leta hai.

Generalization (new data par performance) kharab ho sakti hai.

4. Conclusion

OHE simple aur effective hai jab categories kam ho.

Large number of categories wale features ke liye One Hot Encoding avoid karna chahiye.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# creating as simple datset

df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [ ]:
##Create an instance of ONehotEncoder

In [4]:
encoder=OneHotEncoder()

In [12]:
### perform fit and transform 
encoded=encoder.fit_transform(df[['color']]).toarray()

In [13]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [14]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [15]:
##for any new data
encoder.transform([['blue']]).toarray()

c:\Users\ojass\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [16]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [21]:
import seaborn as sns 
df=sns.load_dataset('tips')

In [22]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [18]:
##create instance of OneHotEncoder

encoder=OneHotEncoder()

In [27]:
encodedd=encoder.fit_transform(df[['sex','smoker','day','time']]).toarray()

In [28]:
import pandas as pd
encoded_df=pd.DataFrame(encodedd,columns=encoder.get_feature_names_out())

In [29]:
encoded_df

     sex_Female  sex_Male  smoker_No  ...  day_Thur  time_Dinner  time_Lunch
0           1.0       0.0        1.0  ...       0.0          1.0         0.0
1           0.0       1.0        1.0  ...       0.0          1.0         0.0
2           0.0       1.0        1.0  ...       0.0          1.0         0.0
3           0.0       1.0        1.0  ...       0.0          1.0         0.0
4           1.0       0.0        1.0  ...       0.0          1.0         0.0
..          ...       ...        ...  ...       ...          ...         ...
239         0.0       1.0        1.0  ...       0.0          1.0         0.0
240         1.0       0.0        0.0  ...       0.0          1.0         0.0
241         0.0       1.0        0.0  ...       0.0          1.0         0.0
242         0.0       1.0        1.0  ...       0.0          1.0         0.0
243         1.0       0.0        1.0  ...       1.0          1.0         0.0

[244 rows x 10 columns]

In [31]:
encoder_df=pd.concat([df,encoded_df],axis=1)

In [32]:
encoder_df

     total_bill   tip     sex  ... day_Thur time_Dinner time_Lunch
0         16.99  1.01  Female  ...      0.0         1.0        0.0
1         10.34  1.66    Male  ...      0.0         1.0        0.0
2         21.01  3.50    Male  ...      0.0         1.0        0.0
3         23.68  3.31    Male  ...      0.0         1.0        0.0
4         24.59  3.61  Female  ...      0.0         1.0        0.0
..          ...   ...     ...  ...      ...         ...        ...
239       29.03  5.92    Male  ...      0.0         1.0        0.0
240       27.18  2.00  Female  ...      0.0         1.0        0.0
241       22.67  2.00    Male  ...      0.0         1.0        0.0
242       17.82  1.75    Male  ...      0.0         1.0        0.0
243       18.78  3.00  Female  ...      1.0         1.0        0.0

[244 rows x 17 columns]