Introduction to Label Encoding and Ordinal Encoding  


Label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data. Label encoding involves assigning a unique numerical label to each category in the variable.

For example, if you have three categories like red, green, and blue, you will assign labels like one, two, and three. Each category receives a unique numerical value.

In [8]:
import pandas as pd
# creating as simple datset

df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [9]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [10]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder=LabelEncoder()

In [11]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\ojass\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [12]:
lbl_encoder.transform([['red']])

c:\Users\ojass\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [13]:
lbl_encoder.transform([['blue']])

c:\Users\ojass\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [14]:
lbl_encoder.transform([['green']])

c:\Users\ojass\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

##ordinal encoding

If you have a use case where you need to assign ranks to categories, you can use ordinal encoding. Ordinal encoding is used to encode categorical data that have an intrinsic order or ranking. Each category is assigned a numerical value based on its position in the order.


For example, if you have a categorical variable 'education level' with values like high school, college, graduate, and post graduate, you can represent it using ordinal encoding. High school can be rank one, college two, graduate three, and post graduate four.

In [15]:
##ordinal encoding

import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [16]:
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [17]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [18]:
## create an instance of Ordinal Encoder

encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [19]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [20]:
encoder.transform([['small']])

c:\Users\ojass\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])