Target Guided Ordinal Encoding


Introduction to Target Guided Ordinal Encoding
In this lecture, we continue our discussion on feature engineering. We will explore a new encoding technique called target guided ordinal encoding. This method is used to encode categorical variables based on their relationship with the target variable.


Target guided ordinal encoding is particularly useful when dealing with categorical variables that have a large number of unique categories. The core idea is to replace each category in the categorical variable with a numerical value derived from the mean or median of the target variable for that category.

In [2]:
import pandas as pd
df=pd.DataFrame({
    'city':['newyork','london','paris','tokyo','newyork','paris'],
    'price':[200,150,300,250,180,320]
})

In [3]:
df

      city  price
0  newyork    200
1   london    150
2    paris    300
3    tokyo    250
4  newyork    180
5    paris    320

In [7]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [8]:
mean_price

{'london': 150.0, 'newyork': 190.0, 'paris': 310.0, 'tokyo': 250.0}

In [9]:
df['city_encoded']=df['city'].map(mean_price)

In [10]:
df[['price','city_encoded']]

   price  city_encoded
0    200         190.0
1    150         150.0
2    300         310.0
3    250         250.0
4    180         190.0
5    320         310.0